#mainContainer{

	height: 90%;
	padding: 0;
}

.addLeft{

	height: 100%;
	width: 24%;
	margin-left: 1%;
	float: left;
}

.tv{

	width: 100%;
	margin: 0;
	float: left;
	display: block;
}

.addBot{

	height: 45%;
	width: 80%;
	float: right;
	margin-top: 1%;
	margin-left: 1%;
}

#r2_3{

	height: 32%;
	width: 100%;
	margin-top: 1%;
	float: left;
	border-style: solid;
}

#r2_3FileContainer{

	top: 76%;
	left: 4%;
	height: 15%;
	width: 100%;
	float: left;
}

#rightContainer{

	height: 100%;
	width: 72%;
	margin-right: 1%;
	float: right;
}
.addLeft, .addBot{

	display: inline-block;

}

#submitContainer{

	height: 5%;
	margin-top: 2%;
}