#r3_1{

	height: 65%;
}

#r3_1FileContainer{

}

#r3_2{

	height: 100%;
	width: 24%;
	border-style: solid;
}

#r3_3{

	
	height: 100%;
	width: 98%;
	margin-left: 1%;
}

#r3_2, #r3_3{

	display: inline-block;	
	border-style: solid;
}

#r3_3FileContainer{

	width: 25%;
	left: 4%;
}

#r3_2FileContainer, #r3_3FileContainer{

	top: 80%;
}
