html{

	margin: 0;
	padding: 0;
}

body{

	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#containerForm{

	height: 98%;
	width: 96%;
	padding-top: 1%;
	margin-left: 2%;
	position: relative;
	bottom: 2%;
}

#mainContainer{

	height: 85%;
	width: 100%;
	margin-top: 1%;
}

.addLeft{

	height: 100%;
	width: 24%;
	margin-left: 1%;
	float: left;
}

.tv{

	height: 65%;
	width: 72%;
	float: right;
	margin-right: 1%;
}

.tv, .addLeft{

	display: inline-block;
}

#clearDiv{

	clear: both;
}

.botContainer{

	height: 40%;
	width: 98%;
	float: left;
	margin-top: 1%;
	margin-left: 1%;
}

.fileContainer{

	position: relative;
	top: 87%;
	left: 10%;
	overflow: hidden;
}

#submitContainer{

	height: 4%;
	width: 100%;
	margin-top: 5%;
	text-align: center;
	clear: both;
	overflow: hidden;
}

.tv, .addLeft{

	border-style: solid;
}