body{

	height: 100%;
	width: 100%;
}

#containerForm{

	height: 100%;
	width: 100%;
}

#containerDiv{

	height: 92%;
	width: 100%;
}

#containerForm div{

	position: absolute;
}

input[type="submit"]{

	position: absolute;
}

input[type="file"]{

	position: absolute;
}

.fileContainer{

	height: 8%;
	width: 20%;
	position: absolute;
	overflow: hidden;
}

#submitContainer{

	top: 94%;
	width: 90%;
	height: 6%;
	text-align: center;
	overflow: hidden;
}

#submitButton{

	display: inline-block;
}
.tv, .addLeft, .addBot{

	position: absolute;
	border-style: solid;
	display: inline-block;
	z-index: -1;
	overflow: hidden;
}

.tv{

	height: 60%;
	width: 70%; 
	float: right;
	z-index: -1;
	left: 27%;
}

.addLeft{

	width: 23%;
	height: 60%;
}

#leftAddFileInput{

	top: 50%;
	left: 1%;
}

.botAddFileInput{

	top: 70%;
	left: 1%;
}

.addBot{

	top: ;
	height: 100%;
}

#botContainer{

	top: 65%;
	height: 30%;
	width: 100%;
	z-index: -2;
}

#r1_1{

}

#r1_1FileContainer{

	top: 50%;
	left: 2%;
}

#r1_2{ 

	width: 23%;
}

#r1_2FileContainer{

	height: 26%;
	width: 20%;
	left: 2%;
	top: 67%;
}

#r1_3{

	left: 26%;
	width: 71%;
}

#r1_3FileContainer{

	top: 67%;
	height: 26%;
	left: 28%;
}
#r1_3FileInput{

}

#r2_1{

	border-style: solid; 
	display: inline-block;
}

#r2_1FileContainer{

	top: 50%;
	left: 2%;
}

#r2_2{
	
	display: inline-block;
	left: 1%;
	width: 94%; 
	border-style: solid;
}

#r2_2FileInput{

}

#r2_2FileContainer{

	left: 2%;
	top: 68%;
	height: 26%;
}

#r3_1{

	height: 95%;
}

#r3_1FileContainer{

	top: 85%;
	left: 2%;
}

#r3_2{

	width: 71%;
	left: 26%;
}

#r3_2FileContainer{

	z-index: 5;
	left: 28%;
	top: 67%;
	height: 30%;
	overflow: hidden;
	width: 20%;
}