body{

	height: 100%;
	width: 100%;
}

#containerForm{

	height: 100%;
	width: 100%;
}

#containerDiv{

	height: 92%;
	width: 100%;
}

#containerForm div{

	position: absolute;
}

input[type="submit"]{

	position: absolute;
	display: block;;
}

input[type="file"]{

	position: absolute;
	display: inline;
}

#submitContainer{

	top: 94%;
	width: 90%;
	text-align: center;
}

#submitButton{

	display: inline-block;
}
.tv, .addLeft, .addBot{

	position: absolute;
	border-style: solid;
	display: inline-block;
	z-index: -1;
}

.tv{

	height: 60%;
	width: 70%; 
	float: right;
	z-index: -1;
	left: 27%;
}

.addLeft{

	width: 23%;
	height: 60%;
}

#leftAddFileInput{

	top: 50%;
	left: 1%;
}

.botAddFileInput{

	top: 70%;
	left: 1%;
}

.addBot{

	height: 100%;
}

#botContainer{

	top: 65%;
	height: 30%;
	width: 100%;
}

#r1_1{

}

#r1_2{ 

	width: 23%;
}

#r1_3{

	left: 26%;
	width: 71%;
}

#r1_3FileInput{

	left: 27%;
}

#r2_1{

	border-style: solid; 
	display: inline-block;
}

#r2_2{
	
	display: inline-block;
	left: 1%;
	width: 94%; 
	border-style: solid;
}

#r2_2FileInput{

	left: 2%;
}

#r3_1{

	height: 95%;
}

#r3_1FileInput{

	top: 90%;
	left: 2%;
}

#r3_2{

	width: 71%;
	left: 26%;
}

#r3_2FileInput{

	left: 28%;
}