html{

	margin: 0;
	padding: 0;
}

body{

	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: black;
    width: 100%;
    height: 100%;

}

#ChannelsContainer{
	height: 90%;
	width: 80%;
	margin-top: 5%;
	margin-left: 10%;
	

}

.TVChannelsBoxes {
	height: 20%;
	width: 20%;
	margin-left: 3%;
	display: inline-block;
	position: relative;
	background-color: white;
}

#BNT1 {
	background-image: url('images/logo_tv/tv_bnt1.png');
	Background-size: 100% 100%;
	background-repeat: no-repeat; 
}

#BNTWorld {
	background-image: url('images/logo_tv/tv_bntworld.png');
	Background-size: 100% 100%;
	background-repeat: no-repeat; 
}

#Davinci {
	background-image: url('images/logo_tv/tv_davinci.png');
	Background-size: 100% 100%;
	background-repeat: no-repeat; 
}

#BTV {
	background-image: url('images/logo_tv/tv_btv.png');
	Background-size: 100% 100%;
	background-repeat: no-repeat; 
}

#Diema {
	background-image: url('images/logo_tv/tv_diema.png');
	Background-size: 100% 100%;
	background-repeat: no-repeat; 
}


#BTVAction {
	background-image: url('images/logo_tv/tv_btvaction.png');
	Background-size: 100% 100%;
	background-repeat: no-repeat; 
}

#BTVCinema {
	background-image: url('images/logo_tv/tv_btvcinema.png');
	Background-size: 100% 100%;
	background-repeat: no-repeat; 
}

#Discovery {
	background-image: url('images/logo_tv/tv_discovery.png');
	Background-size: 100% 100%;
	background-repeat: no-repeat; 
}

#EuroSport {
	background-image: url('images/logo_tv/tv_eurosporthd.png');
	Background-size: 100% 100%;
	background-repeat: no-repeat; 
}

#EuroSportHD {
	background-image: url('images/logo_tv/tv_eurosporthd.jpg');
	Background-size: 100% 100%;
	background-repeat: no-repeat; 
}

#Nova {
	background-image: url('images/logo_tv/tv_nova.jpg');
	Background-size: 100% 100%;
	background-repeat: no-repeat; 
}

#KinoNova {
	background-image: url('images/logo_tv/tv_kinonova.png');
	Background-size: 100% 100%;
	background-repeat: no-repeat; 
}

#HBO {
	background-image: url('images/logo_tv/tv_hbo.png');
	Background-size: 100% 100%;
	background-repeat: no-repeat; 
}

#PlanetaHD {
	background-image: url('images/logo_tv/tv_planetahd.png');
	Background-size: 100% 100%;
	background-repeat: no-repeat; 
}

#TV7 {
	background-image: url('images/logo_tv/tv_tv7.png');
	Background-size: 100% 100%;
	background-repeat: no-repeat; 
}

#TV1000 {
	background-image: url('images/logo_tv/tv_tv1000.png');
	Background-size: 100% 100%;
	background-repeat: no-repeat; 
}
