html{

	height: 100%;
	padding: 0px;
	margin: 0px;
}

body{

	height: 100%;
	padding: 0px;
	margin: 0px;
}

#navBar{
	
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: lightblue;
	text-align: center;
	z-index: 2;
}

#navBar ul{

	display: inline-block;
	list-style: none;
}

#navBar ul li{

	position: relative;
	display: inline-block;
	height: 50px;
	bottom: 5px;
}

#navBar ul li a{

	text-decoration: inset;
	color: black;
	text-decoration: none;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 1.6em;
}

#navBar ul li a:hover{

	border-color: orange;
	border-style: groove;
}

#body{

	margin-top: 5px;
	padding-top: 60px;
	height: 100%;
	margin-right: 5px;
	margin-left: 5px;	
}

#leftBar{

	
	float: left;
	margin-left: 5px;
	margin-right: 10px;
	margin-top: 30px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	display: inline-block;
}

#leftBar ul{

	list-style: none;
	padding: 0;
	padding-left: 15px;
}

#leftBar ul li{

	margin-bottom: 5px;
}

#contentWrapper{

	min-height: 100%;
	background-color: blue;
	/*min-height: 922px;*/
	min-height: 96%;
	overflow-x: hidden;
}

#headingWrapper{

	position: relative;
	z-index: 0;
}

#heading{

	width: 100%;
	height: 75px;
	background-color: darkgreen;
}

#heading h1{

	text-align: center;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#indexHeadingWrapper{

	width: auto;
	overflow-x: auto;
}

#indexHeading{

	height: 120px;
	width: 1160px;
	margin-right: auto;
	margin-left: auto;
}

#indexHeading ul{

	list-style: none;
	overflow-x: none;
}
#indexHeading ul li{

	display: inline-block;
	height: 100px;
	width: 100px;
	background-color: red;
	border-style: solid;
	border-width: 2px;
}

#contentImage{

	height: 250px;
	width: 600px;
	margin: 40px;
	background-color: gray;
	margin-left: auto;
	margin-right: auto;
}

#contentImageIndex{

	height: 300px;
	width: 700px;
	margin: 40px;
	background-color: gray;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
}

#contentImageIndexBox{

	height: 100%;
	width: 100%;
	background-color: gold;
	display: inline-block;
}

#contentImageIndexBox img{

	position: relative;
	height: 100%;
	width: 100%;
	display: inline-block;
	z-index: 0;
}

#imgBox{

	position: relative;
	height: 100%;
	width: 100%;
	display: inline-block;
	z-index: 0;
}

#contentImageIndexFooting{

	position: relative;
	bottom: 35%;
	width: 100%;
	display: inline-block;
	text-align: center;
	background-color: darkgreen;
	border-top-style: double;
	border-bottom-style: double;
	z-index:2;
}

#contentTextBox{

	background-color: white;
	margin: 20px;
	border-style: groove;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: justify;
	text-indent: 20px;
}

#rightBar{

	float: right;
	margin-left: 5px;
	height: 500px;
	width: 250px;
	background-color: purple;
}

#footer{

	width: 100%;
	text-align: center;
	background-color: orange;
	margin: 5px 0px 5px 0px;
}

fieldset{

	display: inline-block;
}
#register label, input{

	display: block;
}

#authDiv{

	float: right;
}

#ANbox{

	margin-top: 20px;
}

#ANbox div{

	
	width: 300px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	display: inline-block;
	background-color: gold;
	border-style: double;
}

#ANbox div span{

	margin-left: 15px;
	margin-bottom: 10px;
	text-decoration: underline;
	font-size: 1.2em;
	float: left;
	clear: left;
}

#ANbox div h2{

	padding:0;
	margin-top: 0px;
	text-align: center;
}

#commentBox{

	margin-top: 20px;
	margin-bottom: 20px;
}
#commentBox span{

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: 75px;
	background-color: white;
	border-style: dotted;
	border-color: red;
}